canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
}
#background {
	z-index: -2;
}
#main {
	z-index: -1;
}
#score {
	color: white;
	z-index: 0;
	position: absolute; 
	left: 50%; 
	top: 90%; 
	text-align:center; 
	width: 100%; 
	margin-left: -50%; 
}